# Colab Setup

In [23]:
from google.colab import drive

drive.mount('/content/drive')

BASE = 'drive/My Drive/kaggle/MLB'
INPUT_DIR = f'{BASE}/input'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [24]:
import pandas as pd
import calendar

# Config

In [25]:
class Config:
    data_dir = f'{INPUT_DIR}/mlb-data-v2'

# Util

In [26]:
def get_train_data(file_name):
    path = f'{Config.data_dir}/train/{file_name}.pickle'

    return pd.read_pickle(path)

def get_meta_data(file_name, format='pickle'):
    path = f'{Config.data_dir}/meta/{file_name}.{format}'
    if format == 'pickle':
        return pd.read_pickle(path)
    else:
        return pd.read_csv(path)

def get_agg_data(file_name):
    path = f'{Config.data_dir}/aggregate/{file_name}.pickle'

    return pd.read_pickle(path)

# Create Data

In [27]:
salaries = get_meta_data('mlbSalaries', 'csv')
salaries = salaries[['year', 'team', 'salary']]
salaries

      year                  team   salary
0     2019  arizona-diamondbacks  6166666
1     2019  arizona-diamondbacks  6050000
2     2019  arizona-diamondbacks  5025000
3     2019  arizona-diamondbacks  4825000
4     2019  arizona-diamondbacks  4500000
...    ...                   ...      ...
2335  2021  washington-nationals   506055
2336  2021  washington-nationals   460050
2337  2021  washington-nationals   346571
2338  2021  washington-nationals   346571
2339  2021  washington-nationals   337370

[2340 rows x 3 columns]

In [28]:
salaries = salaries.groupby(['year', 'team']).sum()['salary'].reset_index()
salaries

    year                  team     salary
0   2019  arizona-diamondbacks   62990590
1   2019        atlanta-braves  115629465
2   2019     baltimore-orioles   51471496
3   2019        boston-red-sox  163861035
4   2019          chicago-cubs  196000476
..   ...                   ...        ...
85  2021    st-louis-cardinals  124483224
86  2021        tampa-bay-rays   42733384
87  2021         texas-rangers   44930530
88  2021     toronto-blue-jays  104271393
89  2021  washington-nationals  129768114

[90 rows x 3 columns]

In [29]:
def map_team_name(name):
    names = name.split('-')
    result = ''
    for n in names:
        if n == 'st':
            n = 'st.'
        result += f' {n.capitalize()}'

    return result[1:]

salaries['team'] = salaries['team'].apply(map_team_name)
salaries

    year                  team     salary
0   2019  Arizona Diamondbacks   62990590
1   2019        Atlanta Braves  115629465
2   2019     Baltimore Orioles   51471496
3   2019        Boston Red Sox  163861035
4   2019          Chicago Cubs  196000476
..   ...                   ...        ...
85  2021   St. Louis Cardinals  124483224
86  2021        Tampa Bay Rays   42733384
87  2021         Texas Rangers   44930530
88  2021     Toronto Blue Jays  104271393
89  2021  Washington Nationals  129768114

[90 rows x 3 columns]

In [30]:
teams = get_meta_data('teams')
teams = teams.drop(columns=['teamName'])
teams = teams.rename(columns={'name': 'teamName'})
teams

     id               teamName  ... venueId                    venueName
0   108     Los Angeles Angels  ...       1                Angel Stadium
1   109   Arizona Diamondbacks  ...      15                  Chase Field
2   110      Baltimore Orioles  ...       2  Oriole Park at Camden Yards
3   111         Boston Red Sox  ...       3                  Fenway Park
4   112           Chicago Cubs  ...      17                Wrigley Field
5   113        Cincinnati Reds  ...    2602     Great American Ball Park
6   114      Cleveland Indians  ...       5            Progressive Field
7   115       Colorado Rockies  ...      19                  Coors Field
8   116         Detroit Tigers  ...    2394                Comerica Park
9   117         Houston Astros  ...    2392             Minute Maid Park
10  118     Kansas City Royals  ...       7             Kauffman Stadium
11  119    Los Angeles Dodgers  ...      22               Dodger Stadium
12  120   Washington Nationals  ...    3309               Nationals Park
13  121          New York Mets  ...    3289                   Citi Field
14  133      Oakland Athletics  ...      10             Oakland Coliseum
15  134     Pittsburgh Pirates  ...      31                     PNC Park
16  135       San Diego Padres  ...    2680                   Petco Park
17  136       Seattle Mariners  ...     680                T-Mobile Park
18  137   San Francisco Giants  ...    2395                  Oracle Park
19  138    St. Louis Cardinals  ...    2889                Busch Stadium
20  139         Tampa Bay Rays  ...      12              Tropicana Field
21  140          Texas Rangers  ...    5325             Globe Life Field
22  141      Toronto Blue Jays  ...      14                Rogers Centre
23  142        Minnesota Twins  ...    3312                 Target Field
24  143  Philadelphia Phillies  ...    2681           Citizens Bank Park
25  144         Atlanta Braves  ...    4705                  Truist Park
26  145      Chicago White Sox  ...       4        Guaranteed Rate Field
27  146          Miami Marlins  ...    4169               loanDepot park
28  147       New York Yankees  ...    3313               Yankee Stadium
29  158      Milwaukee Brewers  ...      32        American Family Field

[30 rows x 12 columns]

In [31]:
salaries = salaries.merge(teams, left_on='team', right_on='teamName', how='inner')[['id', 'year', 'team', 'salary']].rename(columns={'id': 'teamId', 'team': 'teamName', 'salary': 'teamSalary'})
salaries

    teamId  year              teamName  teamSalary
0      109  2019  Arizona Diamondbacks    62990590
1      109  2020  Arizona Diamondbacks    20167910
2      109  2021  Arizona Diamondbacks    52197674
3      144  2019        Atlanta Braves   115629465
4      144  2020        Atlanta Braves    50392877
..     ...   ...                   ...         ...
85     141  2020     Toronto Blue Jays    33401637
86     141  2021     Toronto Blue Jays   104271393
87     120  2019  Washington Nationals   153637198
88     120  2020  Washington Nationals    45615023
89     120  2021  Washington Nationals   129768114

[90 rows x 4 columns]

In [32]:
salaries = salaries.drop_duplicates()
salaries

    teamId  year              teamName  teamSalary
0      109  2019  Arizona Diamondbacks    62990590
1      109  2020  Arizona Diamondbacks    20167910
2      109  2021  Arizona Diamondbacks    52197674
3      144  2019        Atlanta Braves   115629465
4      144  2020        Atlanta Braves    50392877
..     ...   ...                   ...         ...
85     141  2020     Toronto Blue Jays    33401637
86     141  2021     Toronto Blue Jays   104271393
87     120  2019  Washington Nationals   153637198
88     120  2020  Washington Nationals    45615023
89     120  2021  Washington Nationals   129768114

[90 rows x 4 columns]

In [33]:
salaries.to_pickle(f'{Config.data_dir}/aggregate/team_salaries.pickle')